html, body {
  background: #25a;
}

main {
  display: block;
  margin-bottom: 6em;
}

h1, h2, h3, h4 {
  line-height: 1;
  padding-top: 0;
}

nav.flex {
  text-align: center;
  top: auto;
  bottom: 0;
  height: 4em;
  padding: 0;
  width: 100%;
  margin: 0;
}

nav.flex > a {
  width: 25%;
  display: block;
  line-height: 30px;
  text-align: center;
  position: relative;
  padding: .7em 0;
  color: inherit;
  transition: all .3s ease;
  cursor: pointer;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

nav a.active {
  filter: invert(1);
  background: #fff;
  color: #333;
}

nav img {
  width: 1.5em;
  margin: 0 auto;
}

nav.flex a:hover {
  background: #eee;
}

nav span {
  display: block;
  line-height: 1.3;
  font-size: .9em;
  margin-top: .2em;
}

nav [class^="icon-"]::before {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 1.5em;
}


section {
  display: none;
}

section.active {
  display: block;
}


section {
  color: #fff;
  width: 95%;
  max-width: 900px;
  margin: 20px auto;
}

input,
input:focus,
.card {
  border: none;
  color: #333;
}

.home .filter {
  margin-top: .3em;
}

.home .sub {
  margin: 5px 0 10px;;
}

.home .filter .button {
  background: #fff;
  color: #333;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: .6em;
}

.home .filter .button::before {
  margin: 0;
}

.ofertas a {
  color: #333;
  display: block;
}

.ofertas h2,
.ofertas h3 {
  padding-top: 0;
  padding-bottom: 0;
}

.ofertas img {
  width: 100%;
}


.trips a {
  color: #333;
  display: block;
}




.messages .card {
  display: block;
}

.messages .card > img {
  float: left;
  display: inline;
  width: 100px;
}

.messages .info {
  display: block;
  vertical-align: top;
  padding: 15px 10px 15px 110px;
}

.messages .info p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}




.profile {
  color: #fff;
}

.dropimage {
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.profile label {
  display: inline-block;
  margin-bottom: 10px;
}
