html, body {
  background: #25a;
}

h1 {
  color: #fff
}

nav {
  text-align: center;
  top: auto;
  bottom: 0;
  height: 3.5em;
  padding: 0;
}

nav.flex > a {
  width: 25%;
  display: block;
  line-height: 30px;
  text-align: center;
  position: relative;
  padding: .7em 0;
  color: inherit;
  transition: all .3s ease;
  cursor: pointer;
}

nav.flex a:hover {
  background: #eee;
}

nav span {
  display: block;
  line-height: 1.3;
}

nav a[class^="icon-"]::before {
  display: block;
  width: 100%;
  margin: 0;
}


.home {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.home input,
.ofertas .card {
  border: none;
}

.home .filter {
  margin-top: .3em;
}

.home .filter .button {
  background: #fff;
  color: #333;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: .6em;
}

.home .filter .button::before {
  margin: 0;
}

.ofertas a {
  color: inherit;
  display: block;
}

.ofertas h2,
.ofertas h3 {
  padding-top: 0;
  padding-bottom: 0;
}

.ofertas img {
  width: 100%;
}
